@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: 2px dotted theme('colors.primary-light');
}

.dark *:focus {
  outline: 2px dotted skyblue;
}

body {
  background-color: theme('colors.lighter');
}

.dark body {
  background-color: theme('colors.darkest');
}

.bg-angled {
  background: linear-gradient(to right bottom, theme('colors.secondary-light') 50%, theme('colors.secondary') 50.1%);
}

.dark .bg-angled {
  background: linear-gradient(to right bottom, theme('colors.primary') 50%, theme('colors.primary-light') 50.1%);
}
