@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: 2px dotted theme('colors.primary-light');
}

/* * { */
/* -moz-osx-font-smoothing: grayscale !important; */
/* -webkit-font-smoothing: antialiased !important; */
/* } */

.dark *:focus {
  outline: 2px dotted skyblue;
}

::selection {
  background-color: theme('colors.primary');
  color: theme('colors.secondary-light');
}

.dark ::selection {
  background-color: theme('colors.secondary-light');
  color: theme('colors.primary-light');
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-color: theme('colors.lighter');
}

.dark body {
  background-color: theme('colors.darkest');
}

.bg-angled {
  background: linear-gradient(to right bottom, theme('colors.secondary-light') 50%, theme('colors.secondary') 50.1%);
}

.dark .bg-angled {
  background: linear-gradient(to right bottom, theme('colors.primary') 50%, theme('colors.primary-light') 50.1%);
}

.shadow-project {
  box-shadow: 0px 0px 30px 0px rgba(98, 210, 255, 0.7);
}
.dark .shadow-project {
  box-shadow: 0px 0px 30px 0px rgba(17, 97, 155, 0.5);
}

/* Hamburger Button */
.hamb {
  position: relative;
  /* margin-right: -0.625rem; */
  /* border-width: 0px; */
  background-color: transparent;
  padding: 0;
}
/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} */
.hamb .ham {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.hamb .ham {
  height: 35px;
  width: 38px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.hamb svg {
  transform: scale(1.9);
}
.hamb .ham .top {
  stroke-dasharray: 40 160;
}
.hamb .ham .middle {
  transform-origin: 50%;
  stroke-dasharray: 40 142;
}
.hamb .ham .bottom {
  transform-origin: 50%;
  stroke-dasharray: 40 85;
}
.hamb .line {
  fill: none;
  stroke: white;
  stroke-width: 5;
  transition-duration: 0.3s;
  stroke-linecap: round;
}
.hamb.active svg {
  --tw-rotate: 45deg;
  transform: rotate(var(--tw-rotate)) scale(1.9);
}
.hamb.active svg .top {
  stroke-dashoffset: -64px;
}
.hamb.active svg .middle {
  --tw-rotate: 90deg;
  transform: rotate(var(--tw-rotate));
}
.hamb.active svg .bottom {
  stroke-dashoffset: -64px;
}
/* End of Hamburger Button */
